<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.great.mapper.system.CaptchaRecordMapper" >
  <resultMap id="BaseResultMap" type="com.cn.great.model.system.CaptchaRecord" >
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="captext" property="captext" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.cn.great.model.system.CaptchaRecord" >
    insert into web_captcha_record (username, captext)
    values (#{username,jdbcType=VARCHAR}, #{captext,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.great.model.system.CaptchaRecord" >
    insert into web_captcha_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        username,
      </if>
      <if test="captext != null" >
        captext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="captext != null" >
        #{captext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>