<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.great.mapper.system.LoginInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cn.great.model.system.LoginInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="online" property="online" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="BIT" />
    <result column="logintime" property="logintime" jdbcType="TIMESTAMP" />
    <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
    <result column="login_url" property="loginUrl" jdbcType="VARCHAR" />
    <result column="onlinetime" property="onlinetime" jdbcType="TIMESTAMP" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="logout_time" property="logoutTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, online, type, logintime, login_ip, login_url, onlinetime, username, token, 
    logout_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from web_login_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from web_login_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.great.model.system.LoginInfo" >
    insert into web_login_info (id, userid, online, 
      type, logintime, login_ip, 
      login_url, onlinetime, username, 
      token, logout_time)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{online,jdbcType=VARCHAR}, 
      #{type,jdbcType=BIT}, #{logintime,jdbcType=TIMESTAMP}, #{loginIp,jdbcType=VARCHAR}, 
      #{loginUrl,jdbcType=VARCHAR}, #{onlinetime,jdbcType=TIMESTAMP}, #{username,jdbcType=VARCHAR}, 
      #{token,jdbcType=VARCHAR}, #{logoutTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.great.model.system.LoginInfo" >
    insert into web_login_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="online != null" >
        online,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="logintime != null" >
        logintime,
      </if>
      <if test="loginIp != null" >
        login_ip,
      </if>
      <if test="loginUrl != null" >
        login_url,
      </if>
      <if test="onlinetime != null" >
        onlinetime,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="logoutTime != null" >
        logout_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="online != null" >
        #{online,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIT},
      </if>
      <if test="logintime != null" >
        #{logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null" >
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginUrl != null" >
        #{loginUrl,jdbcType=VARCHAR},
      </if>
      <if test="onlinetime != null" >
        #{onlinetime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="logoutTime != null" >
        #{logoutTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.great.model.system.LoginInfo" >
    update web_login_info
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="online != null" >
        online = #{online,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIT},
      </if>
      <if test="logintime != null" >
        logintime = #{logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null" >
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginUrl != null" >
        login_url = #{loginUrl,jdbcType=VARCHAR},
      </if>
      <if test="onlinetime != null" >
        onlinetime = #{onlinetime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="logoutTime != null" >
        logout_time = #{logoutTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.great.model.system.LoginInfo" >
    update web_login_info
    set userid = #{userid,jdbcType=INTEGER},
      online = #{online,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIT},
      logintime = #{logintime,jdbcType=TIMESTAMP},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      login_url = #{loginUrl,jdbcType=VARCHAR},
      onlinetime = #{onlinetime,jdbcType=TIMESTAMP},
      username = #{username,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      logout_time = #{logoutTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>