<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.great.mapper.system.RulesInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cn.great.model.system.RulesInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="rules" property="rules" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, rules
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from web_rules_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from web_rules_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.great.model.system.RulesInfo" >
    insert into web_rules_info (id, rules)
    values (#{id,jdbcType=INTEGER}, #{rules,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.great.model.system.RulesInfo" >
    insert into web_rules_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rules != null" >
        rules,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rules != null" >
        #{rules,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.great.model.system.RulesInfo" >
    update web_rules_info
    <set >
      <if test="rules != null" >
        rules = #{rules,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.great.model.system.RulesInfo" >
    update web_rules_info
    set rules = #{rules,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>