<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.great.mapper.system.SystemLogMapper" >
  <resultMap id="BaseResultMap" type="com.cn.great.model.system.SystemLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="BIGINT" />
    <result column="datetime" property="datetime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="BIT" />
    <result column="server_admin" property="serverAdmin" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cn.great.model.system.SystemLog" extends="BaseResultMap" >
    <result column="context" property="context" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, admin_id, ip, datetime, type, server_admin
  </sql>
  <sql id="Blob_Column_List" >
    context
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from web_system_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from web_system_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.great.model.system.SystemLog" >
    insert into web_system_log (id, admin_id, ip, 
      datetime, type, server_admin, 
      context)
    values (#{id,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, #{ip,jdbcType=BIGINT}, 
      #{datetime,jdbcType=TIMESTAMP}, #{type,jdbcType=BIT}, #{serverAdmin,jdbcType=VARCHAR}, 
      #{context,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.great.model.system.SystemLog" >
    insert into web_system_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="serverAdmin != null" >
        server_admin,
      </if>
      <if test="context != null" >
        context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=BIGINT},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIT},
      </if>
      <if test="serverAdmin != null" >
        #{serverAdmin,jdbcType=VARCHAR},
      </if>
      <if test="context != null" >
        #{context,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.great.model.system.SystemLog" >
    update web_system_log
    <set >
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=BIGINT},
      </if>
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIT},
      </if>
      <if test="serverAdmin != null" >
        server_admin = #{serverAdmin,jdbcType=VARCHAR},
      </if>
      <if test="context != null" >
        context = #{context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cn.great.model.system.SystemLog" >
    update web_system_log
    set admin_id = #{adminId,jdbcType=INTEGER},
      ip = #{ip,jdbcType=BIGINT},
      datetime = #{datetime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=BIT},
      server_admin = #{serverAdmin,jdbcType=VARCHAR},
      context = #{context,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.great.model.system.SystemLog" >
    update web_system_log
    set admin_id = #{adminId,jdbcType=INTEGER},
      ip = #{ip,jdbcType=BIGINT},
      datetime = #{datetime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=BIT},
      server_admin = #{serverAdmin,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>