<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.great.mapper.user.UserMapper">

    <resultMap id="users" type="com.cn.great.model.user.UserInfoEntity">
        <id column="id" property="id"></id>
        <result column="username" property="userName"/>
        <result column="money" property="money"/>
        <result column="money2" property="money2"/>
        <result column="agents_id" property="agentId"/>
        <result column="ctime" property="ctime"/>
        <result column="cmoney" property="cmoney"/>
        <result column="ttime" property="ttime"/>
        <result column="tmoney" property="tmoney"/>
        <result column="sum_bet" property="sumBet"/>
        <result column="password" property="password"/>
        <result column="level_id" property="levelId"/>
        <result column="notes_withdrawal" property="notesWithdrawal"/>
        <result column="status" property="status"/>
        <result column="server_admin" property="serverAdmin"/>
    </resultMap>

    <resultMap id="members" type="com.cn.great.model.user.MemberInfoEntity">
        <id column="userid" property="userId"></id>
        <result column="username" property="userName"/>
        <result column="add_date" property="addDate"/>
        <result column="birthday" property="birthday"/>
        <result column="withdrawal_passwd" property="withdrawalPasswd"/>
        <result column="notes" property="notes"/>
        <result column="agopen" property="agopen"/>
        <result column="cpopen" property="cpopen"/>
        <result column="mgopen" property="mgopen"/>
        <result column="alias" property="alias"/>
        <result column="test_flag" property="testFlag"/>
        <result column="reg_ip" property="regIp"/>
        <result column="bank_id" property="bankId"/>
        <result column="vip_level" property="vipLevel"/>
        <result column="question" property="question"/>
        <result column="answer" property="answer"/>
        <result column="collection" property="collection"/>
        <result column="message_time" property="messageTime"/>
        <result column="his_loss" property="hisLoss"/>
        <result column="his_bets" property="hisBets"/>
    </resultMap>

    <resultMap id="agents" type="com.cn.great.model.user.AgentInfoEntity">
        <id column="id" property="id"></id>
        <result column="username" property="userName"/>
        <result column="money" property="money"/>
        <result column="password" property="password"/>
        <result column="password_safe" property="passwordSafe"/>
        <result column="add_date" property="addDate"/>
        <result column="alias" property="alias"/>
        <result column="bank_id" property="bankId"/>
        <result column="notes" property="notes"/>
        <result column="server_admin" property="serverAdmin"/>
        <result column="phone" property="phone"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="admins" type="com.cn.great.model.user.AdminInfoEntity">
        <id column="id" property="id"></id>
        <result column="username" property="userName"/>
        <result column="add_date" property="addDate"/>
        <result column="password" property="password"/>
        <result column="type" property="type"/>
        <result column="alias" property="alias"/>
        <result column="status" property="status"/>
        <result column="server_admin" property="serverAdmin"/>
    </resultMap>

    <resultMap id="onlines" type="com.cn.great.model.online.LoginInfoEntity">
        <id column="id" property="id"></id>
        <result column="userid" property="userId"/>
        <result column="username" property="userName"/>
        <result column="online" property="online"/>
        <result column="type" property="type"/>
        <result column="logintime" property="loginTime"/>
        <result column="login_ip" property="loginIp"/>
        <result column="login_url" property="loginUrl"/>
        <result column="onlinetime" property="onlineTime"/>
        <result column="logout_time" property="logoutTime"/>
        <result column="token" property="token"/>
    </resultMap>

    <resultMap id="question" type="com.cn.great.model.user.QuestionEntity">
        <id column="id" property="id"></id>
        <result column="name" property="name"/>
    </resultMap>

    <select id="fetchAllUsers" resultMap="users">
        select * from web_member_data
    </select>

    <select id="fetchAllAgents" resultMap="agents">
        select * from web_agents_data
    </select>

    <select id="fetchAllAdmins" resultMap="admins">
        select * from web_system_data
    </select>

    <select id="fetchAllOnlines" resultMap="onlines">
        select * from web_login_info where type = 0
    </select>

    <select id="getUserLoginInfo" resultMap="onlines">
        select * from web_login_info where type = 0 and username = #{userName}
    </select>

    <select id="fetchUserInfo" resultMap="users">
        select * from web_member_data where username = #{userName}
    </select>

    <select id="fetchAgentInfo" resultMap="agents">
        select * from web_agents_data where username = #{agentName}
    </select>

    <delete id="deleteUserLoginInfo" parameterType="java.lang.String">
        delete from web_login_info where type = 0 and username = #{userName}
    </delete>

    <insert id="addUserLoginInfo" parameterType="com.cn.great.model.online.LoginInfoEntity" useGeneratedKeys="true"
            keyProperty="id">
        insert into web_login_info(userid, username, online, type, logintime, login_ip, login_url, onlinetime, token)
        values(#{userId},#{userName},#{online},#{type},#{loginTime},#{loginIp},#{loginUrl},#{onlineTime},#{token})
    </insert>

    <insert id="addUserInfo" parameterType="com.cn.great.model.user.UserInfoEntity" useGeneratedKeys="true"
            keyProperty="id">
        insert into web_member_data(username, agents_id, password, server_admin)
        values(#{userName},#{agentId},#{password},#{serverAdmin})
    </insert>

    <insert id="addMemberInfo" parameterType="com.cn.great.model.user.MemberInfoEntity">
        insert into web_member_info(userid, username, add_date, birthday, withdrawal_passwd, alias, reg_ip, question, answer)
        values(#{userId},#{userName},#{addDate},#{birthday},#{withdrawalPasswd},  #{alias},#{regIp},#{question},#{answer})
    </insert>

    <insert id="addUserCaptcha" parameterType="java.lang.String">
        insert into web_captcha_record(username, captext) values(#{userName},#{capText})
    </insert>

    <delete id="deleteUserCaptcha" parameterType="java.lang.String">
        delete from web_captcha_record where username = #{userName}
    </delete>

    <select id="getCaptchaText" parameterType="java.lang.String" resultType="java.lang.String">
        select captext from web_captcha_record where username = #{userName}
    </select>

    <update id="userLoginout" parameterType="com.cn.great.model.online.LoginInfoEntity">
        update web_login_info set online = #{online}, logout_time = #{logoutTime}, token = #{token}
        where userid = #{userId} and username = #{userName} and type = #{type}
    </update>

    <select id="getMemberInfo" resultMap="members">
        select * from web_member_info where username = #{userName}
    </select>

    <select id="fetchAllMemberInfos" resultMap="members">
        select * from web_member_info
    </select>

    <update id="updateMemberDrawPassword" parameterType="com.cn.great.model.user.MemberInfoEntity">
        update web_member_info set withdrawal_passwd = #{withdrawalPasswd} where userid = #{userId} and username = #{userName}
    </update>

    <update id="updateMemberCollect" parameterType="com.cn.great.model.user.MemberInfoEntity">
        update web_member_info set collection = #{collection} where username = #{userName}
    </update>

    <update id="updateDefaultBank" parameterType="com.cn.great.model.user.MemberInfoEntity">
        update web_member_info set bank_id = #{bankId} where userid = #{userId}
    </update>

    <update id="updateUserBalence" parameterType="com.cn.great.model.user.UserInfoEntity">
        update web_member_data set money = #{money} where id = #{id}
    </update>

    <update id="updateUserPassword" parameterType="com.cn.great.model.user.UserInfoEntity">
        update web_member_data set password = #{password} where username = #{userName}
    </update>

    <update id="userConditionInMoney">
        UPDATE web_member_data set money=money+#{num} where id=#{userId}
    </update>
    <update id="updateUserLevel">
        UPDATE web_member_data SET level_id = #{levelId} where id = #{userId}
    </update>

    <select id="fetchAllQuestions" resultMap="question">
        select * from web_question_data
    </select>
    <select id="getMemberById" resultMap="users">
        select * from web_member_data where id = #{userid}
    </select>
</mapper>