<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.great.mapper.discount.WebDiscountMapper">

    <sql id="discount">
        id,name,intro,description,start_time startTime,end_time endTime,pc,wap,`status`,`level`,pc_big_img pcBigImg,pc_small_img pcSmallImg,wap_big_img wapBigImg,wap_small_img wapSmallImg,server_admin serverAdmin
    </sql>

    <select id="discountList" resultType="com.cn.great.model.discount.WebDiscountEntity">
        select
        <include refid="discount"/>
        from web_discount_data
    </select>

    <select id="DiscountDetail" resultType="com.cn.great.model.discount.WebDiscountEntity">
        select
        <include refid="discount"/>
        from web_discount_data where id=#{discountId}
    </select>

    <select id="bannerList" resultType="java.util.HashMap">
        select id,url,`order` from web_banner_data where type=#{type} ORDER BY `order` desc
    </select>


</mapper>